@charset "utf-8";
/* CSS Document */
@media screen and (min-width: 600px) {
  body {
    background-color: #00f;
  }
  h1 {
    font-size: 2em;
  }
  h1 {
    border-style: dashed;
  }
}
@media screen and (min-width: 900px) {
  h1 {
    border-style: solid;
  }
  body {
    background-color: #ccc;
  }
}
